<div class="ui visible inverted labeled icon wide left inline vertical sidebar menu">
  <a class="item" href="/dashboard">
    <i class="home icon"></i> Profile
  </a>
  <a class="item" href="/dashboard/tables">
    <i class="block layout icon"></i> Tables
  </a>
  <a class="item" href="/dashboard/menus">
    <i class="book icon"></i> Menu
  </a>
  <a class="item" href="/dashboard/settings">
    <i class="settings icon"></i> Settings
  </a>
  <a class="item">
    <i class="sign out icon"></i> Logout
  </a>
</div>
<div class="pusher">
  <div class="profile-cover" style="position:relative;">
    <div class="profile-cover-img" style="background-image: url({{coverImage}})"></div>
    <div class="media">
      <div class="ui grid">
        <div class="two wide floated column">
          <div class="ui medium image dimmable" id="profile-image">
            <div class="ui dimmer transition hidden">
              <div class="content">
                <div class="center">
                  <form ref='uploadForm' id='uploadProfileForm' action='update-profile-image' method='post' encType="multipart/form-data">
                    <input type="file" id="profile-input" style="display:none" name="profile-image"></input>
                    <label for="profile-input" class="ui button">Update Picture</label>
                  </form>
                </div>
              </div>
            </div>
            <div class="profile-image">
              <img class="ui medium rounded image dimmable" src='{{profileImage}}'>
            </div>
          </div>
        </div>
        <div class="eight wide floated column">
          <div class="profile-primary-information">
            <h2 style="display:inline">West End Tap &amp; Kitchen</h2>
            <div class="profile-secondary-information">
              <address style="font-style:normal"> 334 Ingalls St d <br>Santa Cruz, CA 95060</address>
              <span class="biz-phone">(831) 471-8115</span>
            </div>
            <div style="padding-left:10px" class="ui small star rating" data-rating="4" data-max-rating="5"></div>
            <h5 style="display:inline"> 522 reviews</h5>
            <div>
              <h3 style="margin-top:6px;display:inline">
                   <span style="float:left">Gastropubs, American &middot; $$</span>
                   <span style="float:right;">Open Today &middot; 3-9 PM</span>
                 </h3>
            </div>
          </div>
        </div>
        <div class="three wide floated column">
          <form ref='uploadForm' id='uploadCoverForm' action='update-cover-image' method='post' encType="multipart/form-data">
            <input type="file" id="cover-input" style="display:none" name="cover-image"></input>
            <label for="cover-input" class="ui button" style="position:absolute;bottom:10%;right:20px">Update Cover Photo</label>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="ui basic segment">
    <div class="ui grid">
      <div class="three wide column">
        <div class="ui  sticky segment">
          <i class="food icon"></i> <a onclick="viewMenu()">View Menu</a>
          <br>
          <i class="dollar icon"></i> Price Range: $11-30
          <br>
          <i class="picture icon"></i> <a href="#">View All Images</a>
          <table class="ui basic table" id="hours">
            <tbody>
              <tr>
                <th>Mon</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">9:30 pm</span>
                </td>
              </tr>
              <tr>
                <th>Tue</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">9:30 pm</span>
                </td>
              </tr>
              <tr>
                <th>Wed</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">9:30 pm</span>
                </td>
              </tr>
              <tr>
                <th>Thu</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">10:00 pm</span>
                </td>
              </tr>
              <tr>
                <th>Fri</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">10:00 pm</span>
                </td>
              </tr>
              <tr>
                <th>Sat</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">10:00 pm</span>
                </td>
              </tr>
              <tr>
                <th>Sun</th>
                <td>
                  <span class="nowrap">11:30 am</span> - <span class="nowrap">9:30 pm</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <h3 style="display:inline">Business Information</h3>
            <a><i class="settings icon" style="float:right" onclick="updateBusinessInfo()"></i></a>
            <p>
              Takes Reservations - Yes
              <br>Delivery - No
              <br>Take-out - Yes
              <br>Accepts Credit Cards - Yes
              <br>Accepts Apple Pay - No
              <br>Good For - Lunch, Dinner
              <br>Parking - Private Lot
              <br>Bike Parking - Yes
              <br>Wheelchair Accessible - Yes
              <br>Good for Kids - Yes
              <br>Good for Groups - Yes
              <br>Attire - Casual
              <br>Ambience - Trendy
              <br>Noise Level - Average
              <br>Alcohol - Beer &amp; Wine Only
              <br>Outdoor Seating - Yes
              <br>Wi-Fi - No
              <br>Has TV - Yes
              <br>Dogs Allowed - No
              <br>Waiter Service - Yes
              <br>Caters - No
            </p>
          </div>
        </div>
      </div>

      <div class="eight wide column">
        <div class="ui divided link items">
          <h2>Experiences</h2>
          <div class="item">
            <div class="ui tiny image">
              <img src="/images/riley.jpg">
            </div>
            <div class="content">
              <div class="header">
                <span>Riley H.</span>
                <span>5/16/2017</span>
              </div>
              <div class="description">
                <p lang="en">Really good spot. I like the ambiance and decor as well. <br><br>I ordered a Ham and Cheese Sandwich and had a Strawberry Rhubarb beer. Both were really delicious. Will definitely go back next time in Santa Cruz.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image">
              <img src="/images/julie.jpg">
            </div>
            <div class="content">
              <div class="header">
                <span>Julie W.</span>
                <span>5/08/2017</span>
              </div>
              <div class="description">
                <p lang="en">After hearing about the big Loma fire in the Santa Cruz mountains yesterday, I realized I haven't yet written my reviews from two weekends ago. We spent the day at the beach cuz the weather was the best in a while. For our pre-beach food,
                  I wanted to try this gastropub which I've heard is "the bee's knees." (what's up with that idiom? : ))<br><br>West End Tap &amp; Kitchen is located on Ingalls Street in Santa Cruz. It's in an area where there's a large complex of specialty
                  shops like Marianne's Ice Cream and Verve Coffee Roasters. There's a parking lot in the back area of the complex so drive into the back of the local grocery store. (sorry, forgot the name!) They share that lot. <br><br>Upon entering
                  the space, the patio space outside front entrance the looks very inviting and cozy with all the overhead heat lamps turned on. (Santa Cruz is always windy.) Inside, there's plenty of seating and also a bar area to taste all the beers
                  they have. We decided to sit outside because it was too dim inside for me. We ordered their Burger and Chicken Sandwich. However, the only saving grace about our meal was their delicious crunchy French Fries. I ate both helpings!
                  <br><br>Burger : This was just an ordinary burger. Nothing special and not the best we've eaten. It did the job though. <br><br>Chicken Sandwich : I expected a better sandwich honestly. Every restaurant is making their spin on the Chicken
                  Sandwich now, but their's just didn't make the cut. The piece of fried chicken didn't seem like it was breast meat. It was flat and dry instead of thick and juicy.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image">
              <img src="/images/shveta.jpg">
            </div>
            <div class="content">
              <div class="header">
                <span>Shveta V.</span>
                <span>4/21/2017</span>
              </div>
              <div class="description">
                <p lang="en">Truly worthy of 5 stars. What an experience! <br><br>We stopped in for a late lunch and sat at the bar. This place is huge, spacious and the staff are super friendly. <br><br>We ordered the baby kale and spinach salad, soup of the day
                  (spicy potato vegetable), chicken confit flatbread and the shishito peppers. <br><br>Baby kale and spinach salad - I don't typically like fruit in my salad, however this was farmer's market fresh everything and the toasted hazelnuts
                  and feta went perfectly with the semi sweet/tart blueberries. <br><br>Spicy potato and vegetable soup - wow, I had to slow down since I came with my partner and should share :) has a nice kick but not too spicy. Very fresh! Burnt my
                  palate but that was my fault for having a spoonful right away. <br><br>Shishito peppers - the BEST ONES I'VE EVER HAD! They were lemony, salty and spicy. All subtle but very well-done. <br><br>Chicken confit flatbread - UM WOW! Sauce
                  espanol, shiitake mushrooms, sugar snap peas, asiago cheese and the balsamic soy reduction was impeccably presented and created on this beauty. <br><br>Oliver, our bartender had wonderful recommendations and as you can tell, I thoroughly
                  enjoyed each of his suggestions.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image">
              <img src="/images/annie.jpg">
            </div>
            <div class="content">
              <div class="header">
                <span>Annie S.</span>
                <span>4/03/2017</span>
              </div>
              <div class="description">
                <p lang="en">*For Beer Only*<br><br>My goodness, does this place make a decent brew! My boyfriend and I went for beer flights on a Sunday afternoon, and we were not disappointed. My boyfriend ordered the IPA flight. Overall, the selections were interesting,
                  especially the Imp IPA, which was definitely geared towards IPA aficionados. I had the house flight, which was also a great sampling of West End's selection. I particularly enjoyed the American Pale Ale (think craft Blue Moon) and the
                  amber ale. We were there around 12 PM, and while we were seated right away, it definitely picked up by the time we left. Cute, hipster-barn ambiance and friendly staff. Will come back for sure!</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="ui tiny image">
              <img src="/images/barbara.jpg">
            </div>
            <div class="content">
              <div class="header">
                <span>Barbara C.</span>
                <span>9/16/2016</span>
              </div>
              <div class="description">
                <p lang="en">Short stop for beer and glass of wine with lemon basil popcorn. &nbsp;Fun spot. &nbsp;Beer is from small micros.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui modal" id="businessInfo">
  <div class="header" id="editMenuTitle">Update Business Information</div>
  <div class="content">
    <form class="ui form" action="updateInfo" method="post">
      <div class="three fields">
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="reserve" id="switch">
            <label>Take Reservations</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="deliver" id="switch">
            <label>Deliver</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="take-out" id="switch">
            <label>Take-out</label>
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="accept-credit-cards" id="switch">
            <label>Accept Credit Cards</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="accept-apple-pay" id="switch">
            <label>Accept Apple Pay</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="bike-parking" id="switch">
            <label>Bike Parking</label>
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="wheelchair-accessible" id="switch">
            <label>Wheelchair Accessible</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="good-for-kids" id="switch">
            <label>Good For Kids</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="good-for-groups" id="switch">
            <label>Good For Groups</label>
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="inline field">
          <label>Parking</label>
          <select class="ui dropdown" name="parking">
            <option value="0">Private</option>
            <option value="1">Public</option>
            <option value="2">No Parking</option>
          </select>
        </div>
        <div class="inline field">
          <label>Alchol</label>
          <select class="ui dropdown" name="alchol">
            <option value="0">None</option>
            <option value="1">Beer</option>
            <option value="2">Wine</option>
            <option value="3">Beer & Wine</option>
          </select>
        </div>
        <div class="inline field">
          <label>Good Meal Time</label>
          <select class="ui dropdown" name="good-for">
            <option value="B">Breakfast</option>
            <option value="L">Lunch</option>
            <option value="D">Dinner</option>
          </select>
        </div>
      </div>
      <div class="three fields">
        <div class="inline field">
          <label>Attire</label>
          <select class="ui dropdown" name="attire">
            <option value="0">Casual</option>
            <option value="1">Semi-formal</option>
            <option value="2">Formal</option>
          </select>
        </div>
        <div class="inline field">
          <label>Ambience</label>
          <select class="ui dropdown" name="ambience">
            <option value="0">Casual</option>
            <option value="1">Trendy</option>
            <option value="2">Fancy</option>
          </select>
        </div>
        <div class="inline field">
          <label>Noise Level</label>
          <select class="ui dropdown" name="noise-level">
            <option value="0">Quiet</option>
            <option value="1">Moderate</option>
            <option value="2">Loud</option>
          </select>
        </div>
      </div>
      <div class="three fields">
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="caters" id="switch">
            <label>Cater</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="outdoor-seating" id="switch">
            <label>Outdoor Seating</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="wi-fi" id="switch">
            <label>Wi-Fi</label>
          </div>
        </div>
      </div>
      <div class="three fields">
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="tv" id="switch">
            <label>Has TV</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="dogs-allowed" id="switch">
            <label>Dogs Allowed</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui toggle checkbox">
            <input type="checkbox" name="waiter-service" id="switch">
            <label>Waiter Service</label>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui buttons" style="padding-top:10px">
          <button class="ui button" type="button" onclick="closeModal()">Cancel</button>
          <div class="or"></div>
          <button class="ui positive button" onclick="closeModal()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="ui modal" id="menuTemplate">
  <i class="close icon"></i>
  <div class="header">
    Menu Template
  </div>
  <div>
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">First</a>
      <a class="item" data-tab="second">Second</a>
      <a class="item" data-tab="third">Third</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <ul class="menu">
          <li class="menu-item">
            <section>
              <header>
                <h1>Item Name</h1>
                <span class="spacer"></span>
                <span class="price">$9.99</span>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt deserunt minima praesentium blanditiis, ipsum dicta quam laborum esse magnam nemo unde consequatur autem mollitia consequuntur quaerat vel quis quos error.</p>
            </section>
          </li>
          <li class="menu-item">
            <section>
              <header>
                <h1>Item Name</h1>
                <span class="spacer"></span>
                <span class="price">$9.99</span>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum neque nemo, laborum tenetur suscipit veritatis a. Accusantium ipsam sequi consequatur? Vel inventore, tempora omnis praesentium fugit incidunt iure dicta corporis.</p>
            </section>
          </li>
          <li class="menu-item">
            <section>
              <header>
                <h1>Item Name</h1>
                <span class="spacer"></span>
                <span class="price">$9.99</span>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis recusandae possimus natus eaque doloremque eligendi expedita sequi saepe enim ipsam. Quasi reiciendis laudantium in dolor. Sint quam, officiis consequuntur ratione.</p>
            </section>
          </li>
          <li class="menu-item">
            <section>
              <header>
                <h1>Item Name</h1>
                <span class="spacer"></span>
                <span class="price">$9.99</span>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nemo, ipsam, maxime blanditiis autem culpa esse praesentium mollitia beatae voluptatibus architecto! Quaerat dolore aut illum, quia voluptate obcaecati consequatur quod.</p>
            </section>
          </li>
          <li class="menu-item">
            <section>
              <header>
                <h1>Item Name</h1>
                <span class="spacer"></span>
                <span class="price">$9.99</span>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam veniam assumenda magni eos sapiente aspernatur illum, ad error quas repudiandae nam tempora sed beatae facilis neque similique velit aliquam suscipit.</p>
            </section>
          </li>
          <li class="menu-item">
            <section>
              <header>
                <h1>Item Name</h1>
                <span class="spacer"></span>
                <span class="price">$9.99</span>
              </header>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, nam tenetur aliquid beatae asperiores accusamus magni. Officia illo fuga ducimus eaque alias, aliquid nostrum odit, eos voluptates vel reprehenderit, natus.</p>
            </section>
          </li>
        </ul>

        
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      Second
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      Third
    </div>
  </div>

    
  <div class="actions">
    <div class="ui button" onclick="closeModal()">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
