<div class="ui visible inverted labeled icon left inline vertical  sidebar menu">
  <a class="item" href="/dashboard">
    <i class="home icon"></i> Profile
  </a>
  <a class="item" href="/dashboard/tables">
    <i class="block layout icon"></i> Tables
  </a>
  <a class="item" href="/dashboard/menus">
    <i class="book icon"></i> Menu
  </a>
  <a class="item" href="/dashboard/settings">
    <i class="settings icon"></i> Settings
  </a>
  <a class="item">
    <i class="sign out icon"></i> Logout
  </a>
</div>
<div class="pusher">
  <div class="ui basic segment">
    <h1 class="ui header">Settings</h1>
    <div class="ui divider"></div>
    <div class="ui grid">
      <div class="row">
        <div class="fourteen wide floated column">
          <h2>Restaurant Settings</h2>
          <form class="ui form" action="update-restaurant-settings" method="post">
            <div class="inline fields">
              <div class="sixteen wide field">
                <label>Restaurant Name</label>
                <input name="restaurantName" type="text" placeholder="West End Tap">
              </div>
            </div>
            <div class="inline fields">
              <div class="sixteen wide field">
                <label>Address</label>
                <input name="address" type="text" placeholder="334 Ingalls St.">
              </div>
            </div>
            <div class="inline fields">
              <label>City</label>
              <div class="five wide field">
                <input name="city" type="text" placeholder="Santa Cruz">
              </div>
              <label>State</label>
              <div class="five wide field">
                <input name="state" type="text" placeholder="CA">
              </div>
              <label>zip</label>
              <div class="five wide field">
                <input name="zip" type="text" placeholder="95060">
              </div>
            </div>
            <div class="inline fields">
              <div class="six wide field">
                <label>Phone Number</label>
                <input type="tel" name="areaCode" placeholder="(xxx)">
              </div>
              <div class="six wide field">
                <input type="tel" name="phoneNumber1" placeholder="xxx">
              </div>
              <div class="six wide field">
                <input type="tel" name="phoneNumber2" placeholder="xxxx">
              </div>
            </div>
            <input type="submit" class="ui submit button" value="submit"></input>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="fourteen wide floated column">
          <h2>Account Settings</h3>
          <form class="ui form" action="update-account-settings" method="post">
            <div class="inline fields">
              <div class="sixteen wide field">
                <label>Full Name</label>
                <input name="fullName" type="text" placeholder="Full Name">
              </div>
            </div>
            <div class="inline fields">
            <div class="sixteen wide field">
              <label>Email</label>
              <input name="email" type="text" placeholder="email@gmail.com">
            </div>
          </div>
            <input type="submit" class="ui submit button" value="submit"></input>
          </form>
        </div>
      </div>
      </div>
    </div>
    <h2>Restaurant Hours</h2>
    <div class="ui grid">
      <div class="seven column row">
        <div class="column">
          <h3>Sunday</h3> <p>11:30 am - 9:30 pm</p>
          <div class="ui button" style="padding-top:10px" onclick="addHours()">
            Add Hours
          </div>
        </div>
        <div class="column">
          <h3>Monday</h3> <p>11:30 am - 9:30 pm</p>
          <div class="ui button" style="padding-top:10px" onclick="addHours()">
            Add Hours
          </div>
        </div>
        <div class="column">
          <h3>Tuesday</h3> <p>11:30 am - 9:30 pm</p>
          <div class="ui button" style="padding-top:10px" onclick="addHours()">
            Add Hours
          </div>
        </div>
        <div class="column">
          <h3>Wednesday</h3> <p>11:30 am - 9:30 pm</p>
          <div class="ui button" style="padding-top:10px" onclick="addHours()">
            Add Hours
          </div>
        </div>
        <div class="column">
          <h3>Thursday</h3> <p>11:30 am - 10:00 pm</p>
          <div class="ui button" style="padding-top:10px" onclick="addHours()">
            Add Hours
          </div>
        </div>
        <div class="column">
          <h3>Friday</h3> <p>11:30 am - 10:00 pm</p>
          <div class="ui button" style="padding-top:10px" onclick="addHours()">
            Add Hours
          </div>
        </div>
        <div class="column">
          <h3>Saturday</h3> 11:30 am - 10:00 pm
          <div class="ui button" style="padding-top:10px" onclick="addHours(this)" day="saturday">
            Add Hours
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui modal" id="businessInfo">
  <div class="header" id="editMenuTitle">Update Business Information</div>
  <div class="content">
    <form class="ui form" action="updateInfo" method="post">
      <div class="field">
        <div class="ui grid">
          <div class="four wide column">
            <label>Start</label>
            <input type="time">
          </div>
          <div class="four wide column">
            <label>End</label>
            <input type="time">
          </div>
        </div>
        <div class="ui buttons" style="padding-top:10px">
          <button class="ui button" type="button" onclick="closeModal()">Cancel</button>
          <div class="or"></div>
          <button class="ui positive button" onclick="closeModal()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="ui modal" id="addHours">
  <div class="header" id="editMenuTitle">Update Hours</div>
  <div class="content">
    <form class="ui form" action="updateHours" method="post">
      <div class="field">
        <div class="ui grid">
          <div class="four wide column">
            <label>Start</label>
            <input type="time" name="start-time">
          </div>
          <div class="four wide column">
            <label>End</label>
            <input type="time" name="end-time">
          </div>
        </div>
        <div class="ui buttons" style="padding-top:10px">
          <button class="ui button" type="button" onclick="closeModal()">Cancel</button>
          <div class="or"></div>
          <button class="ui positive button" onclick="closeModal()">Save</button>
        </div>
      </div>
      <div class="field">
        <input type="hidden" name="day" id="input-hours-day">
      </div>
    </form>
  </div>
</div>
