<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted labeled icon wide left inline vertical sidebar menu">
    <a class="item" href="/dashboard">
      <i class="home icon"></i> Profile
    </a>
    <a class="item" href="/dashboard/tables">
      <i class="block layout icon"></i> Tables
    </a>
    <a class="item" href="/dashboard/menus">
      <i class="book icon"></i> Menu
    </a>
    <a class="item" href="/dashboard/settings">
      <i class="settings icon"></i> Settings
    </a>
    <a class="item">
      <i class="sign out icon"></i> Logout
    </a>
  </div>
  <div class="pusher">
    <div class="profile-cover" style="position:relative;">
      <div class="profile-cover-img" style="background-image: url(/images/cover.jpg)"></div>
      <div class="media">
        <div class="ui grid">
          <div class="three column row">
            <div class="left floated column">
              <div class="image-wrapper">
                <img src="images/matthew.png" class="ui small bordered rounded image">
              </div>
            </div>
            <div class="right floated column">
              <h1>Right Side</h1></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="ten wide column">
        <h1></h1>
      </div>
      <div class="six wide column">
        <h1></h1>
      </div>
    </div>
  </div>
</div>
