<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted labeled icon wide left inline vertical sidebar menu">
    <a class="item" href="/dashboard">
      <i class="home icon"></i> Profile
    </a>
    <a class="item" href="/dashboard/tables">
      <i class="block layout icon"></i> Tables
    </a>
    <a class="item" href="/dashboard/menus">
      <i class="book icon"></i> Menu
    </a>
    <a class="item" href="/dashboard/settings">
      <i class="settings icon"></i> Settings
    </a>
    <a class="item">
      <i class="sign out icon"></i> Logout
    </a>
  </div>
  <div class="pusher">
    <div class="profile-cover" style="position:relative;">
      <div class="profile-cover-img" style="background-image: url(/images/cover.jpg)"></div>
      <div class="media">
        <div class="ui grid">
          <div class="two wide floated column">
            <div class="profile-image">
              <img src="images/matthew.png" class="ui medium bordered rounded image">
            </div>
          </div>
          <div class="eight wide floated column">
            <div class="profile-primary-information">
              <h2 style="display:inline">West End Tap &amp; Kitchen</h2>
              <div class="profile-secondary-information">
                <address style="font-style:normal"> 334 Ingalls St d <br>Santa Cruz, CA 95060</address>
                <span class="biz-phone">(831) 471-8115</span>
              </div>
              <div style="padding-left:10px" class="ui small star rating" data-rating="4" data-max-rating="5"></div>
              <h5 style="display:inline"> 522 reviews</h5>
              <div>
                <h3 style="margin-top:6px;display:inline"> American &middot; $$</h3>
                <h3 style="margin-top:6px;float:right;display:inline">Open Today &middot; 3-9 PM<h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="ten wide column">
        <h1></h1>
      </div>
      <div class="six wide column">
        <h1></h1>
      </div>
    </div>
  </div>
</div>

<div>
<p class="popup-content">This is the html</p>
</div>
