<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted labeled icon wide left inline vertical sidebar menu">
    <a class="item" href="/dashboard">
      <i class="home icon"></i> Profile
    </a>
    <a class="item" href="/dashboard/tables">
      <i class="block layout icon"></i> Tables
    </a>
    <a class="item" href="/dashboard/menus">
      <i class="book icon"></i> Menu
    </a>
    <a class="item" href="/dashboard/settings">
      <i class="settings icon"></i> Settings
    </a>
    <a class="item">
      <i class="sign out icon"></i> Logout
    </a>
  </div>
  <div class="pusher">
    <div class="profile-cover" style="position:relative;">
      <div class="profile-cover-img" style="background-image: url(/images/cover.jpg)"></div>
      <div class="media">
        <div class="ui grid">
          <div class="two wide floated column">
            <div class="profile-image">
              <img src="images/matthew.png" class="ui medium bordered rounded image">
            </div>
          </div>
          <div class="eight wide floated column">
            <div class="profile-primary-information">
              <h2 style="display:inline">West End Tap &amp; Kitchen</h2>
              <div class="profile-secondary-information">
                <address style="font-style:normal"> 334 Ingalls St d <br>Santa Cruz, CA 95060</address>
                <span class="biz-phone">(831) 471-8115</span>
              </div>
              <div style="padding-left:10px" class="ui small star rating" data-rating="4" data-max-rating="5"></div>
              <h5 style="display:inline"> 522 reviews</h5>
              <div>
                <h3 style="margin-top:6px;display:inline">
                   <span style="float:left">Gastropubs, American &middot; $$</span>
                   <span style="float:right;">Open Today &middot; 3-9 PM</span>
                 </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui basic segment">

      <div class="main ui container">
        <div class="ui segment">
          <div class="ui divided link items">
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/stevie.jpg">
              </div>
              <div class="content">
                <div class="header">Stevie Feliciano</div>
                <div class="description">
                  <p>This is the content</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/veronika.jpg">
              </div>
              <div class="content">
                <div class="header">Veronika Ossi</div>
                <div class="description">
                  <p>This is the content</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/images/jenny.jpg">
              </div>
              <div class="content">
                <div class="header">Jenny Hess</div>
                <div class="description">
                  <p>This is the content</p>
                </div>
              </div>
            </div>
          </div>

          <div class="ui left dividing rail">
            <div class="ui segment">
              <h3>Business Info</h3>
              <p>
              Takes Reservations Yes
              <br>Delivery No
              <br>Take-out Yes
              <br>Accepts Credit Cards Yes
              <br>Accepts Apple Pay No
              <br>Good For Lunch, Dinner
              <br>Parking Private Lot
              <br>Bike Parking Yes
              <br>Wheelchair Accessible Yes
              <br>Good for Kids Yes
              <br>Good for Groups Yes
              <br>Attire Casual
              <br>Ambience Trendy
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
