<div class="ui bottom attached segment pushable">
    <div class="ui visible inverted labeled icon left inline vertical wide sidebar menu">
        <a class="item" href="/dashboard">
            <i class="home icon"></i> Profile
        </a>
        <a class="item" href="/dashboard/tables">
            <i class="block layout icon"></i> Tables
        </a>
        <a class="item" href="/dashboard/menus">
            <i class="book icon"></i> Menu
        </a>
        <a class="item" href="/dashboard/settings">
            <i class="settings icon"></i> Settings
        </a>
        <a class="item">
            <i class="sign out icon"></i> Logout
        </a>
    </div>
    <div class="pusher">
        <div class="ui basic segment">
            
            
            <div class="ui pointing secondary menu">
                <a class="item active" data-tab="first">Breakfast</a>
                <a class="item" data-tab="second">Lunch</a>
                <a class="item" data-tab="third">Dinner</a>
            </div>
            
            
            <div class="ui tab segment active" data-tab="first">
                <div class="ui top attached tabular menu">
                    <a class="active item" data-tab="first/a">Appetizers</a>
                    <a class="item" data-tab="first/b">Drinks</a>
                    <a class="item" data-tab="first/+"><button class="ui button">+</button></a>
                </div>
                <div class="ui bottom attached active tab segment" data-tab="first/a"><button class="ui button" onclick="$('.ui.modal').modal('show');">+ item</button></div>
                <div class="ui bottom attached tab segment" data-tab="first/b"><button class="ui button" onclick="$('.ui.modal').modal('show');">+ item</button></div>
            </div>
            
            
            <div class="ui tab segment" data-tab="second">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="second/a">2A</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="second/a"><button class="ui button" onclick="$('.ui.modal').modal('show');">+ item</button></div>
            </div>
            
            
            <div class="ui tab segment" data-tab="third">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="third/a">3A</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="third/a"><button class="ui button" onclick="$('.ui.modal').modal('show');">+ item</button></div>
            </div>
            
            
        </div>
    </div>
</div>




<div class="ui modal">
  <div class="header">Add Entree</div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Name</label>
        <input type="text">
        <label>Price</label>
        <input type="text">
        <label>Description</label>
        <input type="text">
        <div class="ui buttons">
          <button class="ui button" onclick="closeModal()">Cancel</button>
          <div class="or"></div>
          <button class="ui positive button" onclick="closeModal()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal">
  <div class="header">Add Menu</div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Name</label>
        <input type="text">
          <div class="ui grid">
            <div class="four wide column">test</div>
            <div class="four wide column">et</div>
          </div>
        
        <div class="ui buttons">
          <button class="ui button" onclick="closeModal()">Cancel</button>
          <div class="or"></div>
          <button class="ui positive button" onclick="closeModal()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>



