<script type="text/javascript">
  function checkForm(form)
  {
    if(form.password.value == form.name.value)
    {
      alert("Error: Password may not be the same as your username");
      form.password.focus();
      return false;
    }
    if(form.password.value != form.password_check.value)
    {
      alert("Error: Your password and your retyped password do not match. Please verify that your password is correct.");
      form.password.focus();
      return false;
    }
    alert("Everything looks good.")
    return true;
  }
</script><!--THIS SCRIPT SIMPLY CHECKS IF THE USERS CONFIRMATION PASSWORD AND PASSWORD MATCH UP-->

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <form class="ui large form" action="createuser" method="post" onsubmit="return checkForm(this);">
            <div class="ui stacked segment">
                <h2 class="ui teal image header">
                    <div class="content">
                      Create An Account.
                    </div>
                  </h2>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="name" placeholder="Full Name" maxLength="75" required="required"><!-- THIS IS FORM VALIDATION FOR NAME, ADDED A MAX LENGTH SIMPLY TO MAKE IT NOT HAVE A LIMITER, AND IT IS NOW REQUIRED AS WELL-->
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" placeholder="E-mail address" required="required"><!-- THIS IS FORM VALIDATION FOR EMAIL, MAKING THE type=email SHOULD DO THE TRICK, AND IT IS NOW REQUIRED AS WELL-->
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" pattern= ".{6,12}" required="required"><!-- THIS IS FORM VALIDATION FOR PASSWORDS, IT MAKES THE MIN LENGTH 6 AND THE MAX LENGTH 12. ALSO MAKES IT REQUIRED-->

                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password_check" placeholder="Re-type your password" pattern= ".{6,12}" required="required"><!-- I ADDED THIS PASSWORD FIELD FOR PASSWORD CONFIRMATION-->

                    </div>
                </div>
                <input type="submit" class="ui fluid large teal submit button" value="Continue"></input>
            </div>
            <div class="ui error message"></div>
        </form>
        <div class="ui message">
            Already Have an Account? <a href="/login">Login</a>
        </div>
    </div>
</div>
