<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted labeled icon left inline vertical wide sidebar menu">
    <a class="item" href="/dashboard">
      <i class="home icon"></i>
      Profile
    </a>
    <a class="item"  href="/dashboard/tables">
      <i class="block layout icon"></i>
      Tables
    </a>
    <a class="item" href="/dashboard/menus">
      <i class="book icon"></i>
      Menu
    </a>
    <a class="item" href="/dashboard/settings">
      <i class="settings icon"></i>
      Settings
    </a>
    <a class="item">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
        <h3>Settings</h3>
        <form class="ui form">
                <div class="ui stackable three column grid content Grid">
                                    <div class="two column row">
                    <div class="column">
                        <button class="ui button">Upload Logo</button>
                        <br>
                        <br>
                        <button class="ui button">Upload Banner</button>
                    </div>
                    <div class="column">
                          <div class="field">
                            <label>Restaurant Name</label>
                            <input name="restaurantName" type="text">
                          </div>
                          <div class="field">
                            <label>Address</label>
                            <input name="address" type="text">
                          </div>
                          <div class="field">
                            <label>Phone Number</label>
                            <input name="phone" type="text">
                          </div>
                          <div class="field">
                            <label>Email</label>
                            <input name="email" type="text">
                          </div>
                    </div>
                </div>
                
                <div class="three column row">
                    <div class="column">
                        <br>
                        <br>
                        <p>test1</p>
                    </div>
                    <div class="column">
                        <h3>Hours</h3>
                        <p>to</p>
                    </div>
                    <div class="column">
                        <br>
                        <br>
                        <p>test3</p>
                    </div>
                </div>  
            
            <div>
                <p>ITEMS + CHECKBOXES GO HERE</p>
            </div>
                </div>
    </form>


            

        
    </div>
  </div>
</div>
