<div class="ui bottom attached segment pushable">
  <div class="ui visible inverted labeled icon left inline vertical wide sidebar menu">
    <a class="item" href="/dashboard">
      <i class="home icon"></i>
      Profile
    </a>
    <a class="item"  href="/dashboard/tables">
      <i class="block layout icon"></i>
      Tables
    </a>
    <a class="item" href="/dashboard/menus">
      <i class="book icon"></i>
      Menu
    </a>
    <a class="item" href="/dashboard/settings">
      <i class="settings icon"></i>
      Settings
    </a>
    <a class="item">
      <i class="sign out icon"></i>
      Logout
    </a>
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <h3 class="ui header">Settings Content</h3>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
        
        <form class="ui form">
          <div class="field">
            <label>Empty</label>
            <input name="empty" type="text">
          </div>
          <div class="field">
            <label>Dropdown</label>
            <select class="ui dropdown" name="dropdown">
              <option value="">Select</option>
              <option value="male">Choice 1</option>
              <option value="female">Choice 2</option>
            </select>
          </div>
          <div class="inline field">
            <div class="ui checkbox">
              <input type="checkbox" name="checkbox">
              <label>Checkbox</label>
            </div>
          </div>
          <div class="ui submit button">Submit</div>
          <div class="ui error message"></div>
        </form>
        
    </div>
  </div>
</div>
