<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="active item">Home</a>
    <a class="item">Features</a>
    <a class="item">Download</a>
    <a class="item">More</a>
    {{#if signedIn}}
        <a class="item" href="/">Logout</a>
    {{else}}
        <a class="item" href="/login">Login</a>
    {{/if}}
    <a class="item" href="/register">Signup</a>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" id="features-container">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu" id="main-menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="item" href="/">Home</a>
                <a class="active item" href="/features">Features</a>
                <a class="item" href="/downloads">Download</a>
                {{#if signedIn}}
                    <form action="userlogout" method="post" class="right item">
                        <a class="ui inverted button" href="/dashboard">Dashboard</a>
                        <input type="submit" class="ui inverted button" value="Logout" id="logoutBtn"></input>
                    </form>
                {{else}}
                    <div class="right item">
                      <a class="ui inverted button" href="/register">Sign Up</a>
                      <a class="ui inverted button" href="/login">Login</a>
                    </div>
                {{/if}}
            </div>
        </div>

        <div class="ui text container" id="sample">
            <h1 class="ui inverted header" id="features">Feature Comparison</h1>
            <h2 class="ui inverted header">Compare and contrast our plans. Choose the one that suits your business needs.</h2>
        </div>
        <div class="ui container" style="padding-top:24px;padding-bottom:16px">
              <table class="ui celled inverted table" style="background-color:#385761">
                <thead>
                  <tr>
                    <th>Features</th>
                    <th class="center aligned">Nibbles</th>
                    <th class="center aligned">Bytes</th>
                    <th class="center aligned">Bits</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Dashboard</td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">Free</td>
                  </tr>
                  <tr>
                    <td>Connect</td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">Free</td>
                  </tr>
                  <tr>
                    <td>Point-of-sale</td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">$60.00</td>
                  </tr>
                  <tr>
                    <td>Analytics</td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">$20.00</td>
                  </tr>
                  <tr>
                    <td>Rewards</td>
                    <td class="center aligned"><i class="large red icon close"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">$15.00</td>
                  </tr>
                  <tr>
                    <td>Interactive Menu</td>
                    <td class="center aligned"><i class="large red icon close"></i></td></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">$10.00</td>
                  </tr>
                  <tr>
                    <td>Waitlist & Reservation</td>
                    <td class="center aligned"><i class="large red icon close"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">$10.00</td>
                  </tr>
                  <tr>
                    <td>Support</td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned"><i class="large green checkmark icon"></i></td>
                    <td class="center aligned">Free</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="center aligned">$74.99 </td>
                    <td class="center aligned">$109.99</td>
                    <td class="center aligned">à La Carte</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>

                  </tr>
                </tfoot>
              </table>
            </div>
    </div>
</div>
<div class="ui vertical stripe segment" id="feature-container-odd">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Dashboard</h3>
                <p>Efficiently update your restaurant information to be used in our other applications. Update your restaurant's menu, hours of operations and contact information, easily through the Dashboard UI.</p>
            </div>
            <div class="six wide right floated column">
                <img src="images/pos2.png" class="ui medium bordered rounded image">
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment" id="feature-container-even">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="six wide left floated column">
                <img src="images/pos1.png" class="ui medium bordered rounded image">
            </div>
            <div class="eight wide right floated column">
                <h3 class="ui header">Connect</h3>
                <p>Customers can view your business profile here and get the information they are looking for. There are reviews, photos, rewards and customer interactions all on this social portal built for restaurants.</p>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment" id="feature-container-odd">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
                <h3 class="ui header">Point-Of-Sale</h3>
                <p>Our POS system is built on top of the cloud. Updating and using the POS is as easy as signing into your account. Manage your inventory and update multiple menus items. The POS runs on Windows, Mac and Linux and will be ported to iOS & Android in the future.</p>
            </div>
            <div class="six wide right floated column">
              <img src="images/pos3.png" class="ui medium bordered rounded image">
            </div>
        </div>
    </div>
</div>
<div class="ui vertical stripe segment" id="feature-container-odd">
    <div class="ui text container">
        <h3 class="ui header">Did We Convince You?</h3>
        <p>Our restaurant manager POS system is the perfect database for displaying your basic business needs.  Join today and you will recieve an instant, easy to use POS system.  Our guarantee or your money back! </p>
        <a class="ui large button">I'm Still Quite Interested</a>
    </div>
</div>
<div class="ui inverted vertical footer segment" id="footer-container">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Dashboard & POS</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Homepage</a>
                    <a href="#" class="item">Features</a>
                    <a href="#" class="item">Downloads</a>
                    <a href="#" class="item">Sign Up For Dashboard</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Connect</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Homepage</a>
                    <a href="#" class="item">Features</a>
                    <a href="#" class="item">Vision</a>
                    <a href="#" class="item">Sign Up For Connect</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Company</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">About</a>
                    <a href="#" class="item">Blog</a>
                    <a href="#" class="item">Job</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Connect With Us</h4>
                <p>We are a group of students from UC Santa Cruz.</p>
            </div>
        </div>
    </div>
</div>
