.profile-cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

.profile-cover .media {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 10px;
}

.profile-image {
  position: relative;
  top: 4vh;
  float: left;
  border: 3px solid;
}

.profile-primary-information {
  position: absolute;
  bottom: 1vh;
  float: left;

}

.profile-secondary-information {
  position: relative;
  padding-left: 2vh;
  padding-right: 1vh;
  float: right;


}
