.profile-cover-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}


.profile-cover .media {
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 10px;
}

.profile-image {
  position: relative;
  top: 0vh;
  float: left;
}

.profile-primary-information {
  position: absolute;
  bottom: 1vh;
  float: left;
  color: white
}

.profile-secondary-information {
  position: relative;
  padding-left: 2vh;
  padding-right: 1vh;
  float: right;
}

#hours {
  border: none;
  border-collapse: collapse;
}
